jenkins:
  systemMessage: "Jenkins configured automatically by Platfrix"
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          password: "${JENKINS_ADMIN_PASSWORD:-admin}"
          name: "Administrator"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  remotingSecurity:
    enabled: true

unclassified:
  location:
    url: "http://localhost:8080/"
    adminAddress: "admin@localhost"

tool:
  git:
    installations:
      - name: "Default"
        home: "/usr/bin/git"
  nodejs:
    installations:
      - name: "NodeJS 20"
        properties:
          - installSource:
              installers:
                - nodeJSInstaller:
                    id: "20.11.0"
                    npmPackagesRefreshHours: 72
